h1 {
  text-align: center;
}

.homepage_button {
  width: 500px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  background-color: #141c3a;
  color: white;
  padding: 8px;
  text-align: center;
  margin: 30px auto
}

.homepage_button a {
  color: white;
  text-decoration: none;

}

.Test {
  text-align: center;
}

.choice {
  /* height: 60px; */
  margin: 20px auto;
  border: 1px solid #2d5dcc;
  background-color: #141c3a;
  padding: .75rem 1rem;
  border-radius: 2px;
  width: 50%;
  color: white;
  list-style-type: none;
  text-align: left;
  font-size: 20px
}

.choice:hover {
  cursor: pointer;
}

.choice.active {
  background-color: brown;
}

.choice.active.rightAnswer {
  background-color: rgb(14, 90, 7);
}

.choice.correct {
  background-color: rgb(14, 90, 7);
}

.next_button {
  background-color: #141c3a;
  margin: 30px auto;
  padding: 16px;
  color: white;
  border-radius: 8px;

}

.next_button:hover {
  background-color: #ffffff;
  border: 2px solid #141c3a;
  margin: 30px auto;
  padding: 16px;
  color: rgb(0, 0, 0);
  border-radius: 8px;
  
}

/* ----------------------------------------------- */

.official_test_page {
  display: flex;
  
}

.official_test_page_question_list {
  flex: 70%;
  border: 1px solid black;
  padding: 16px;
  position: relative;
}

.official_test_page_question_list li {
  list-style: none;
}


.official_test_page_summary {
  flex: 30%;
  
}

.official_test_page_summary_clock {
  position: fixed;
  /* border: 1px solid red; */
  text-align: left;
  top: 20px;
  right: 100px
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.countdown_clock {
  margin: 20px 0px;
  width: 100px;
  height: 60px;
  border: 2px solid black;
  line-height: 60px;
  text-align: center;
  color: red;
  font-weight: 600;
  font-size: 24px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
